# Ignore all
*

# Unignore all with extensions
!*.*

# CMake Artefacts
CMakeCache.txt
/CMakeFiles
/.cmake
/cmake-build-debug
/cmake-build-release
/Testing
/build

# Editors
/.idea

# Built Libraries
*.a

# Mac Elements
.DS_Store