# Unignore all with extensions
!*.*

example_*

# CMake Artefacts
CMakeCache.txt
/CMakeFiles
/.cmake
/.cache
/cmake-build-debug
/cmake-build-release
/Testing
/build
*.cmake
Makefile
*.json
cmake_install.cmake
_deps
.deps
DartConfiguration.tcl

# Editors
/.idea

# Built Libraries
*.a

# Mac Elements
.DS_Store
